name: Auto approve

on:
  pull_request

jobs:
  # Auto-approve dependabot PRs. Dependabot will automatically merge minor version upgrades.
  # (see .dependabot/config.yml for more info)
  auto-approve-dependabot:
    runs-on: ubuntu-latest
    steps:
    - uses: hmarr/auto-approve-action@v2.1.0
      if: github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]'
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
