name: Test libstatistics_collector
on:
  pull_request:
  push:
    branches:
      - rolling
  schedule:
    # Run every hour. This helps detect flakiness,
    # and broken external dependencies.
    - cron:  '0 * * * *'

jobs:
  build_and_test_ubuntu:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-jammy-latest
    steps:
    - uses: ros-tooling/action-ros-ci@v0.3
      with:
        package-name: libstatistics_collector
        colcon-mixin-name: coverage-gcc
        colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
        target-ros2-distro: rolling
    - uses: codecov/codecov-action@v3.1.3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ros_ws/lcov/total_coverage.info
        flags: unittests
        name: codecov-umbrella
        yml: ./codecov.yml
        fail_ci_if_error: false
    - uses: actions/upload-artifact@v3
      with:
        name: colcon-logs-${{ matrix.os }}
        path: ros_ws/log

  build_and_test_asan:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-jammy-latest
    steps:
    - uses: ros-tooling/action-ros-ci@v0.3
      with:
        colcon-mixin-name: asan
        colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
        package-name: libstatistics_collector
        target-ros2-distro: rolling
    - uses: actions/upload-artifact@v3
      with:
        name: colcon-logs-ubuntu-asan
        path: ros_ws/log
